<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <h1>Editing Runner</h1>

    <%= render 'form' %>

    <%= link_to 'Show', @runner, class: "btn btn-success" %> |
    <%= link_to 'Back', runners_path, class: "btn btn-info" %>
  </div>
</div>