<p id="notice"><%= notice %></p>
<div class="row">
  <div class="col-md-6 col-md-offset-3">

  <strong>Name:</strong>
  <%= @group.name %>
  <br><br>

  <%= link_to 'Edit', edit_group_path(@group), class: "btn btn-success" %> |
  <%= link_to 'Back', groups_path, class: "btn btn-info" %>
  </div>
</div>