body{
    background: #F2F2FF !important;
}

.container {
  background-color: white;
}

.col-md-6 {
    text-align: center;
}

.btn{
    color: white;
}

.avatar {      
background-color: #F5F5F5;      
border: 1px solid #DDDDDD;      
border-radius: 50% 50% 50% 50%;      
padding: 4px; 
} 