<div class="container-fluid" style="background-color:#0033CC">
  <div class="row">
    <div class="col-md-3 hidden-xs hidden-sm">
      <img src="/pics/wahs_logo.png" />
    </div>
    <div class="col-md-6" style="text-align:center">
      <h1 style="color:#FFFF3F; line-height:inherit">Western Albemarle High School</h1>
    </div>
    <div class="col-md-3 hidden-xs hidden-sm">
      <img class="pull-right" src="/pics/wahs_logo.png" />
    </div>
  </div>
</div>
  <%= render "layouts/navbar" %>

<div class="container">
